In [2]:
import pandas as pd
import numpy as np

student = {'RollNo':[3,2,5,1,4],
           'name':['vineesha','gopika','bibin','haritha','anuja'],
          'Department':['maths','english','CSE','MECH','MBA'],
          'Semester':['s1','s2','s1','s2','s1']}
df=pd.DataFrame(student)
print("\n\n\n\nBefore Sorting")
print("--------------")
print(df)
print("\n\n\nAfter Sorting")
print("--------------")
df.sort_values(by=['name','RollNo'], ascending=True)

Before Sorting
--------------
   RollNo      name Department Semester
0       3  vineesha      maths       s1
1       2    gopika    english       s2
2       5     bibin        CSE       s1
3       1   haritha       MECH       s2
4       4     anuja        MBA       s1



After Sorting
--------------

   RollNo      name Department Semester
4       4     anuja        MBA       s1
2       5     bibin        CSE       s1
1       2    gopika    english       s2
3       1   haritha       MECH       s2
0       3  vineesha      maths       s1